@COPY_REMARK@
CompileFlags:
  Compiler: '@CMAKE_CXX_COMPILER@'
  CompilationDatabase: '@CMAKE_BINARY_DIR@'

Hover:
  ShowAKA: Yes

Index:
  Background: Build
  StandardLibrary: Yes

InlayHints:
  Enabled: Yes
  BlockEnd: Yes
  Designators: No
  ParameterNames: No
  DeducedTypes: Yes
  TypeNameLimit: 8

Diagnostics:
  UnusedIncludes: Strict
